---
import Layout from './Layout.astro'
import ChallengesTable from "@/components/project-use/Tables/ChallengeTable"
import { type AstroInstance, getAllChallengeDataFromPaths } from '@/project-use/challangeUtils'

import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card"

const path = Astro.url.href


const challengesBlob: AstroInstance[] = await Astro.glob('/src/pages/challenges/**');
const challengeNameFromPath = path.split("/")[4]

const challengeDataFromPath = getAllChallengeDataFromPaths({challengesBlob}).filter(({challengeName}) => challengeName === challengeNameFromPath)

const [,,,, chalangeName,, stack] = path.split("/")

// TODO: extract the hr in a Divider component (maybe)
// TODO: Check how to format with prettier astro components
// Pesent better the problems and solution
// Add Tailwind Typogaafy on Challenge Code (maybe)
---
<Layout title={`${chalangeName} - ${stack}`}>
    <Card>
        <CardHeader>
     
                <CardTitle className="inline-flex">{chalangeName}</CardTitle>

            <CardDescription>Problem coded in {stack}</CardDescription>
        </CardHeader>
        <CardContent>
            <p class="text-center"> ↓ Challenge Code ↓</p>
            <hr class="w-100 h-1 mx-auto my-3 bg-gray-100 border-0 rounded dark:bg-gray-700">
            <slot />
            <hr class="w-100 h-1 mx-auto my-3 bg-gray-100 border-0 rounded dark:bg-gray-700">
            <p class="text-center"> ↑ Challenge Code ↑</p>
        </CardContent>
    </Card>

    <h3 class="text-2xl font-semibold leading-none tracking-tight text-center pt-10">More about this Challenge</h3>
    <ChallengesTable challengesData={challengeDataFromPath}/>
</Layout>


